<!doctype html>
<html lang="en-US"> 

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ page.title }}</title>

<meta name="description" content="Berlin Mauer - πρέπι(το). Artwork by ASK.">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="author" content="Manolis Tzanidakis">

<link rel="stylesheet" href="/css/style.css">
        
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head> 

<body>

<div id="main" role="main">

{{ content }}

</div><!-- #main -->

</body>
</html>
