<!doctype html>
<html lang="en-US"> 

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Berlin Mauer - πρέπι(το). Artwork by ASK.">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="author" content="Manolis Tzanidakis - mtzanidakis.com">
<meta name="copyright" content="2008 to present - ASK">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="/css/style.css">
        
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head> 

<body>

<div id="main" role="main">

<header>
<h1>{{ page.title }}</h1>
</header>

{{ content }}
<footer>
<div id="colophon">
<a href="mailto:askstudio[at]gmail[dot]com">askstudio@gmail.com</a>
</div>
</footer>

</div><!-- #main -->

<script>var _gaq=[['_setAccount','UA-15936020-6'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
