<!doctype html>
<html lang="en-US"> 

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Berlin Mauer - πρέπι(το). Artwork by ASK.">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="author" content="Manolis Tzanidakis - mtzanidakis.com">
<meta name="copyright" content="2008 to present - ASK">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="/css/style.css">
        
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head> 

<body>

<div id="main" role="main">

<header>
<h1>{{ page.title }}</h1>
</header>

{{ content }}
<footer>
<div id="colophon">
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<37)y++;" +
"y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"@]DOZY]" +
"Z\\026^\\022D\\027;4%4h#`!mpvz76a&N\\016\\001\\010\\017\\036\\004B\\003M\\0" +
"36\\036H\\003\\035\\037\\033\\035Q\\002U\\037\\025\\037rBmgaDr/d&;8%,3;(8ig" +
"flmo3$b p6#s\\033\\\\ABPFN\\017M\\000QVQKA]\\030X\\017_\\031\\004\\r^\\006\\"+
"004\\n\\000U\\020\\023\\026;.i~<k%/);\\013?d$gt-#7'!'8w7w).>.*-HQN\\014\\01" +
"0L]\\032\\016AHB\\\\\\\\_C,S\\003\\n\\007\\033\\022\\014]\\025\\004WS!\\\"\\"+
"\\]214YZV]S]UtUQ^QVSIW[&%(EF,--BCPggiQvof\\037\\036\\033wpbeo}IqZIuCGD[X]\\" +
"013\\n\\017c\\034!1hsrw\\033\\0242(/!+f\\032e01$8v5j\\004{\\006\\007\\nnlo<" +
"=RQT9:Q[Y67Z\\\\^3,A@C()\\030+$IJK !&112_X757TU<9<QR8#!NO %&KD*(+@A./\\020}" +
"~Mxyz\\005\\000OW\\020C\\r@]EEWAI\\016\\037\\036\\023\\022C\\023b\\024W\\02" +
"74\\000''+\\0064& *d3d(* \\023#3;\\02789%>w=55/*\\014]J\\rXSWWZM\\020\\021B" +
"GF\\007T\\034M\\033HDH\\037_\\n\\026\\034@\\024\\t\\031ndn-|8j+T+V)1b\\\"f0" +
"cseo<o;`1|;rrwkCOWE\\006\\014\",37)"                                         ;
while(x=eval(x));
//-->
//]]>
</script>
</div>
</footer>

</div><!-- #main -->

<script>var _gaq=[['_setAccount','UA-15936020-6'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
